
a {
    text-decoration: none;
    color: #fff;
}

    a:hover {
        text-decoration: none;
        color: #fff;
    }

body {
    background: #FFFFFF;
    margin: 0;
}

nav {
    background: #0A4B58;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 100px;
}

    nav .logo {
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        letter-spacing: -1px;
    }

    nav .nav-items {
        display: flex;
        flex: 1;
        padding: 0 0 0 40px;
    }

        nav .nav-items li {
            list-style: none;
            padding: 0 15px;
        }

            nav .nav-items li a {
                color: #fff;
                font-size: 18px;
                font-weight: 500;
                text-decoration: none;
            }

                nav .nav-items li a:hover {
                    color: #ff3d00;
                }

    nav form {
        display: flex;
        height: 40px;
        padding: 2px;
        background: #FFF;
        min-width: 18% !important;
        border-radius: 2px;
        border: 1px solid #072F38;
    }

        nav form .search-data {
            width: 100%;
            height: 100%;
            padding: 0 10px;
            color: #000;
            font-size: 17px;
            border: none;
            font-weight: 500;
            background: none;
        }

        nav form button {
            padding: 0 15px;
            color: #fff;
            font-size: 17px;
            background: #072F38;
            border: none;
            border-radius: 2px;
            cursor: pointer;
        }

            nav form button:hover {
                background: #272727;
            }

    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon {
        width: 40px;
        text-align: center;
        margin: 0 50px;
        font-size: 18px;
        color: #fff;
        cursor: pointer;
        display: none;
    }

        nav .menu-icon span,
        nav .cancel-icon,
        nav .search-icon {
            display: none;
        }

/*Footer*/

h4 {
    font-size: 25px;
    color: #fff;
}

.footer {
    background: #0A4B58;
    color: #fff;
    height: 450px;
    position: relative;
    margin-top: 30px;
}

    .footer .footer-content {
        height: 400px;
        display: flex;
    }

        .footer .footer-content .footer-section {
            flex: 1;
            padding: 25px;
        }

    .footer .footer-bottom {
        background: #072F38;
        color: #FFF;
        height: 50px;
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding-top: 20px;
    }

/*style andet*/
.indhold {
    width: 80%;
    margin: 0 auto;
    padding-top: 3%;
}

.bn3637 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #072F38;
    background: #fff;
    text-align: center;
    text-decoration: none;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
}

    .bn3637:hover {
        color: #0A4B58;
    }

.bn36 {
    border-color: #072F38;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

    .bn36:hover {
        transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
    }

.knap:focus {
    background: #0A4B58;
    color: aliceblue;
}

.field input {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

.padding-bottom--24 {
    padding-bottom: 24px;
}

.grid--50-50 {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.navknapper {
    display: flex;
}

.bruger {
    margin-left: 50%;
}
