@{
    ViewBag.Title = "Om os";
}
<h2 style="text-align: center;">@ViewBag.Title</h2>

<div>
    <h2 style="text-align: left;">Bilguiden</h2>
    <p>
        Bilguiden.dk er en hjemmeside, hvor man kan se informationer omkring biler. Vi giver dig de brugbare indformationer du skal bruge omkring din ynglingsbil.<br />
        Du har også mulighed for selv at tilføje og redigere bilers informationer, hvis de er ukorrekte.
        <br />
    <p> </p>
    Grundlagt i 2022
    <br />
    Ejet af Patrik Hansen & Asger Veng
</div>
