@{
    ViewBag.Title = "Kontakt";
}

<div class="indhold">
    <h2>@ViewBag.Title</h2>

    <div>
        <div>
            <p>
                Du er altid velkommen til at kontakte os. Har du spørgsmål til vore biler og informationer eller andet så ring til Bilguiden på tlf. 81 73 44 01.
                Vi er altid klar med råd og vejledning.<br />
                Vi kan både træffes via telefon, mail, brev eller skriv en besked fra denne side.<br />
                Det er også muligt at følge os på Facebook.
            </p><br />
            <div>
                <h3>Kontaktinfo</h3>
                <p>Bilguiden</p>
                <p>Bindslev Plads</p>
                <p>8600 Silkeborg</p>
                <p>CVR: 35846379</p>
            </div><br />
        </div>
    </div><br />

    <div>
        <h3>Kontor Telefontider</h3>
        <p>Man-tors:    8:00 - 16:00</p>
        <p>Fredag:      8:00 - 15:00</p>
        <p>Lør-søn:     8:00 - 12:00</p>
        <p></p>
        <p>Designer:     Patrik Hansen & Asger Veng</p>
        <p>Telefon:      81 73 44 01</p>
    </div>

    <address>
        <strong>Send en mail:</strong>   <a style="color: black;" href="mailto:bilguiden@support.dk">bilguiden@support.dk</a>
    </address>
</div>